.controller.fight-stick {
    background: url(https://s3-us-west-2.amazonaws.com/sathed-twitch/base.png) center no-repeat;
}

.fight-stick .arrows {
	display: none;
}

.fight-stick .quadrant {
	font-size: 0px;
}
