.controller.fight-stick {
    background: url(https://github.com/sathed/8-buttons/raw/master/6-button/base.png) center no-repeat;
}

.fight-stick .arrows {
	display: none;
}

.fight-stick .quadrant {
	font-size: 0px;
}

.fight-stick .x {
  content: "X";
}

.fight-stick .y {
  content: "Y";
}

.fight-stick .a {
  background: url(https://github.com/sathed/8-buttons/raw/master/img/A.png) no-repeat, #333333;
  background-position: center;
}

.fight-stick .b {
  content: "B";
}

.fight-stick .bumper.right {
  content: "R1";
}

.fight-stick .bumper.left {
  content: "L1";
}

.fight-stick .trigger-button.right {
  content: "R2";
}

.fight-stick .trigger-button.left {
  content: "L2";
}
