.controller.fight-stick {
    background: url(https://github.com/sathed/8-buttons/raw/master/6-button/base.png) center no-repeat;
}

.fight-stick .arrows {
	display: none;
}

.fight-stick .quadrant {
	font-size: 0px;
}
